/// Variables that should be accessed by the entire site

// Size variables

$border-width: 3px;
$border-radius: 15px;
$slider-thumb-size: 10px;

$header-height: 50px;
$title-height: 200px;
$footer-height: 100px;

// Color theming
$main-color-light: #89c2d9;
$main-color-mid: #028ff2;
$main-color-dark: #014f86;

$second-color-light: #ffebe0;
$second-color-dark: #ba6c23;

/* SPECIFIC COLORS */

$bg-color: $main-color-light;
$page-bg-color: white;

$heading-color: $second-color-dark;
$heading-line-color: $main-color-light;

$hr-color: $second-color-light;

$bold-color: $second-color-dark;

$link-color: #0366d6;

$code-bg-color: $second-color-light;


