@import 'vars';

// Styling for the blog article boxes in the `Blog` category page
.blog-article-box {
    margin: 20px 0 10px 0;
    padding: 20px;
    border: $border-width solid black;
    border-radius: $border-radius;
}
