/* GENERAL STYLING */

$border-radius: 30px;
$border-width: 8px;

$bg-color: #012;
$bg-color-dark: mix($bg-color, #000);
$bg-color-light: lighten($bg-color, 5%);
$bg-color-lighter: lighten($bg-color, 10%);

$primary-color: #38f;
$secondary-color: #b9a600;

$project-color: $primary-color;
$blog-color: $secondary-color;
$art-color: #FF8F33;

body {
  margin: 0;
  background: $bg-color;
  color: $primary-color;
  font-family: monospace;
  font-size: 17px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 29px;
  font-weight: bold;
}

a {
  color: inherit;
}

a:hover {
  opacity: 80%;
}



/* SITE "MATRIX" HEADERS */

#matrix-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.matrix-text {
  position: absolute;
  /* `left` and top are set by the JS code */
  right: 0;
  bottom: 0;
  margin: 0;

  overflow: hidden;
  white-space: pre;
  text-overflow: clip;

  color: #048;
  font-weight: bold;
  font-size: 15px;
}

.matrix-title-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.site-title {
  margin: 0;

  /* font-size: Set in HTML */
  font-weight: bold;
  text-align: center;

  color: #cff;
  text-shadow: 0 0 4vw #000, 0 0 3vw #aff, 0 0 1vw #aff;
}

.scroll-down {
  font-size: 5vh;
  position: absolute;
  left: 0;
  right: 0;

  transition: all 0.5s ease-in-out;
}

.scroll-down-present {
  bottom: 20px;
  opacity: 1;
}

.scroll-down-faded {
  bottom: 100px;
  opacity: 0;
}



/* REST OF MAIN PAGE */

.about-section {
  margin: 10px;
  background: $bg-color-dark;
  border-radius: $border-radius;

  @media only screen and (min-width: 1020px) {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  div {
    padding: 15px 15px;
  }

  $img-margin: 10px;

  img {
    margin: $img-margin !important;
    border: 0 none !important;
    background: none !important;
    border-radius: $border-radius - $img-margin !important;

    width: 200px;
    height: 200px;

    @media only screen and (min-width: 1020px) {
      margin: 0 !important;
      width: revert;
      height: 100%;
    }
  }

  img.me {
    float: left;
    margin-right: 30px !important;

    @media only screen and (min-width: 1020px) {
      margin-right: revert !important;
      border-radius: $border-radius 0 0 $border-radius !important;
    }
  }

  img.site {
    float: right;
    margin-left: 30px !important;

    @media only screen and (min-width: 1020px) {
      border-radius: 0 $border-radius $border-radius 0 !important;
      margin-left: revert !important;
      order: 2;
    }
  }
}



/* PAGE ENTRIES */

.site-body {
  margin: 0 auto;
  max-width: 1000px;
}

$link-brighten: 40%;
$visited-link-brighten: 10%;

.category-project, :root {
  --category-color: $project-color;
  --link-color: lighten($project-color, $link-brighten);
  --visited-link-color: lighten($project-color, $visited-link-brighten);
}

.category-blog {
  --category-color: $blog-color;
  --link-color: lighten($blog-color, $link-brighten);
  --visited-link-color: lighten($blog-color, $visited-link-brighten);
}

.category-art {
  --category-color: $art-color;
  --link-color: lighten($art-color, $link-brighten);
  --visited-link-color: lighten($art-color, $visited-link-brighten);
}

.use-category-color {
  color: var(--category-color);
}

.subpage-entry {
  cursor: pointer;

  margin: 40px 10px;
  border-radius: $border-radius;
  border: $border-width solid;

  background: $bg-color;
  color: var(--category-color); /* Inherited by other items */

  transition: background 0.2s, margin 0.2s ease-in-out;
}

.subpage-entry.hoverable:hover {
  background: $bg-color-dark;
  margin-left: 0;
  margin-right: 20px;
}

.subpage-entry {
  #icon {
    width: 10em;
    height: 10em;
    border-radius: 22px;
    background: white; /* TODO: Just give the kuudos image a background */

    @media only screen and (max-width: 700px) {
      display: none; /* Hide images on small screens */
    }
  }

  #icon:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #icon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .text-container {
    margin: 15px 30px 20px 30px;
  }

  .header h2 {
    margin: 0;
    border-bottom: 3px solid;

    text-align: center;
  }

  .subheading {
    margin: 0;
    justify-content: space-between;
  }

  .subheading p {
    margin: 0;

    font-size: 20px;
    font-weight: bold;
  }

  .padding {
    flex-grow: 1;
  }

  .description {
    margin: 0;
    text-align: center;
  }

  .content-container {
    height: 0;
    overflow: auto;
  }
}


/* PAGE OVERLAY */

#page-overlay {
  display: none;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: #0120;
}

/* PAGE OPENING INITIAL VALUES */

.x-button {
  position: relative;
  left: 30px;
  bottom: 15px;

  width: 0;
  min-width: 0; /* Don't allow the browsers to squish the button if the page name is long */
  height: 5em;

  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.x-button:hover {
  transform: scale(1.1) !important;
}

.x-button path {
  stroke: var(--category-color);
}

#page-overlay.active {
  display: block !important;
}

#page-overlay .subpage-entry {
  position: absolute;
  cursor: default !important;
  margin: 0 !important;
}

/* FULLY OPEN VALUES */

#page-overlay.expanded {
  background: #012d !important;

  .subpage-entry {
    left:   50px !important;
    right:  50px !important;
    top:    50px !important;
    bottom: 50px !important;
  }

  #icon {
    width: 0 !important;
  }

  .header {
    margin-right: -30px;
  }

  .x-button {
    width: 5em;
    min-width: 5em;
  }

  .padding {
    flex-grow: 0;
  }

  .description {
    font-size: 0;
  }

  .content-container {
    flex-grow: 1;
  }
}

/* PAGE ENTRY ANIMATION */

$step: 0.2s;

#page-overlay {
  transition: background ($step * 5) ease-in-out; /* Background animates over the entire 1s */
}

#page-overlay.expanded {
  /* Sequence (each step takes `$step` time):
   *   delay of $step * 0: Remove icon
   *   delay of $step * 1: Expand width
   *   delay of $step * 2: Swap description for content
   *   delay of $step * 3: Expand height
   *   delay of $step * 4: Add 'x' button
   */

  .subpage-entry {
    transition:
      left   $step ease-in-out ($step * 1),
      right  $step ease-in-out ($step * 1),
      top    $step ease-in-out ($step * 3),
      bottom $step ease-in-out ($step * 3);
  }

  #icon {
    transition: width $step ease-in-out ($step * 0);
  }

  .header {
    transition: margin-right $step ease-in-out ($step * 4);
  }

  .x-button {
    transition:
      width     $step ease-in-out ($step * 4),
      min-width $step ease-in-out ($step * 4);
  }

  .padding {
    transition: flex-grow $step ease-in-out ($step * 2);
  }

  .description {
    transition: font-size $step ease-in-out ($step * 2);
  }

  .content-container {
    transition: flex-grow $step ease-in-out ($step * 2);
  }
}

/* PAGE EXIT ANIMATION */

#page-overlay.contracting {
  /* Sequence to be played backwards (each step takes `$step` time):
   *   delay of $step * 4: Remove icon
   *   delay of $step * 3: Expand width
   *   delay of $step * 2: Swap description for content
   *   delay of $step * 1: Expand height
   *   delay of $step * 0: Add 'x' button
   */

  .subpage-entry {
    transition:
      left   $step ease-in-out ($step * 3),
      right  $step ease-in-out ($step * 3),
      top    $step ease-in-out ($step * 1),
      bottom $step ease-in-out ($step * 1);
  }

  #icon {
    transition: width $step ease-in-out ($step * 4);
  }

  .header {
    transition: margin-right $step ease-in-out ($step * 0);
  }

  .x-button {
    transition:
      width     $step ease-in-out ($step * 0),
      min-width $step ease-in-out ($step * 0);
  }

  .padding {
    transition: flex-grow $step ease-in-out ($step * 2);
  }

  .description {
    transition: font-size $step ease-in-out ($step * 2);
  }

  .content-container {
    transition: flex-grow $step ease-in-out ($step * 2);
  }
}

/* CONTENT */

.page-content {
  max-width: 900px;
  margin: 0 auto;
}

.content {
  h1, h2, h3, h4, h5, h6 {
    margin: 24px 0 16px 0;
  }
  
  h1, h2 {
    margin-top: 70px;
    padding-bottom: 0.3em;
    border-bottom: 1px solid;

    text-align: center;
  }

  p, li {
    text-align: justify;
    line-height: 1.5;
  }

  p {
    margin: 0;
    margin-bottom: 2em;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: var(--link-color);
  }

  a:visited {
    color: var(--visited-link-color);
  }

  li {
    margin: 0;
    margin-bottom: 0.1em;
  }

  /* inline code */
  code {
    background: $bg-color-lighter;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 6px;
  }

  /* code blocks */
  pre {
    overflow-x: scroll;
    overflow-y: hidden;

    background: $bg-color-light;
    padding: 0.7em;
  }

  pre code {
    /* Undo the styling from inline code */
    background: none;
    font-weight: normal;
    padding: 0;
  }

  img {
    /* Display images in the centre of the page */
    display: block;
    margin: 0 auto 16px auto;

    /* Give images round borders */
    border-radius: $border-radius;
    border: $border-width solid;

    max-width: 100%; /* Prevent images from overflowing their container */
    max-height: 22em; /* Also prevent images from getting really big */

    background: white;
  }


  .side-by-side-images {
    text-align: center;

    img {
      margin: 0 auto 16px auto;
      width: 100%;
      max-width: 350px;

      /* For not-tiny screens, display the images inline */
      @media only screen and (min-width: 688px) {
          max-width: none;
          display: inline-block;
          width: 46%;
          margin: 0.5%;
      }
    }
  }
}



/* UTILS */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-fill {
  flex-grow: 1;
}
