.matrix {
  position: absolute;
  /* `left` and top are set by the JS code */
  right: 0;
  bottom: 0;
  margin: 0;

  overflow: hidden;
  white-space: pre;
  text-overflow: clip;

  color: #048;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
}

.site-title {
  margin: 0;

  /* font-size: Set in HTML */
  font-family: monospace;
  font-weight: bold;
  text-align: center;

  color: #cff;
  text-shadow: 0 0 4vw #000, 0 0 3vw #aff, 0 0 1vw #aff;
}
