:root {
  --border-radius: 30px;
  --border-width: 8px;

  --bg-color: #012;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: #38f;
  font-family: monospace;
  font-size: 17px;
}



/* SITE "MATRIX" HEADERS */

#matrix-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.matrix-text {
  position: absolute;
  /* `left` and top are set by the JS code */
  right: 0;
  bottom: 0;
  margin: 0;

  overflow: hidden;
  white-space: pre;
  text-overflow: clip;

  color: #048;
  font-weight: bold;
  font-size: 15px;
}

.matrix-title-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.site-title {
  margin: 0;

  /* font-size: Set in HTML */
  font-weight: bold;
  text-align: center;

  color: #cff;
  text-shadow: 0 0 4vw #000, 0 0 3vw #aff, 0 0 1vw #aff;
}

.scroll-down {
  font-size: 5vh;
  position: absolute;
  left: 0;
  right: 0;

  transition: all 0.5s ease-in-out;
}

.scroll-down-present {
  bottom: 20px;
  opacity: 1;
}

.scroll-down-faded {
  bottom: 100px;
  opacity: 0;
}



/* PAGE ENTRIES */

.site-body {
  margin: 0 auto;
  max-width: 1000px;
}

.category-project {
  --category-color: #38f;
}

.category-blog {
  --category-color: #E6D117;
}

.category-art {
  --category-color: #FF8F33;
}

.use-category-color {
  color: var(--category-color);
}

.subpage-entry {
  cursor: pointer;

  margin: 40px 10px;
  border: var(--border-width) solid;
  border-radius: var(--border-radius);

  color: var(--category-color); /* Inherited by other items */

  transition: background 0.2s, margin 0.2s ease-in-out;

  display: flex;
  flex-direction: row;
}

.subpage-entry:hover {
  background: #00070f;
  margin-left: 0;
  margin-right: 20px;
}

.subpage-entry img {
  height: 10em;
  border-radius: var(--border-radius);
}

.subpage-entry img:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subpage-entry img:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subpage-header {
  margin: 15px 30px 20px 30px;
  flex-grow: 1;
}

.subpage-header h2 {
  margin: 0;
  border-bottom: 3px solid;

  font-size: 29px;
  font-weight: bold;
  text-align: center;
}

.subheading {
  margin: 0;

  font-size: 20px;
  font-weight: bold;
}

.subpage-header p {
  margin: 0;
}



/* PAGE OVERLAY */

#page-overlay-outer {
  position: fixed;
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;

  transition: top 0.5s, bottom 0.5s, background 0.5s ease-in-out;
}

.page-overlay-outer-active {
  top: 0 !important;
  bottom: 0 !important;

  background: #012d;
}

.page-overlay-box {
  margin: 50px;
  border: var(--border-width) solid;
  border-radius: var(--border-radius);

  color: var(--category-color);

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  background: var(--bg-color);
}

.page-overlay-box iframe {
  width: 100%;
  flex-grow: 1;

  border: 0 none;
  border-radius: 0 0 26px 26px;
}

.page-overlay-x-button {
  width: 5em;
  height: 5em;

  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.page-overlay-x-button:hover {
  transform: scale(1.1);
}

.page-overlay-x-button path {
  stroke: var(--category-color);
}

/* SUB-PAGE/BLOGS */

.page-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}
