{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block name %}Home{% endblock %}

{% block content %}

{# Title #}
<h1>Ben White-Horne's Website</h1>

{# Bar of links #}
{% if section.extra.links %}
<p class="link-line">
    {% for link in section.extra.links %}
        <span class="link"><a href="{{ link[1] }}">{{ link[0] }}</a></span>
    {% endfor %}
</p>
{% endif %}

{# Add a welcome section (defined in `content/_index.md`) #}
{{ section.content | safe }}

{# Add sections for each top-level section of the site #}
{% for subsec_path in section.subsections %}
    {% set subsec = get_section(path=subsec_path) %}

    {% if subsec.pages %}
        <div style="margin-top: 50px;">
            {{ macros::icon_and_title(page=subsec) }}
        </div>

        <div class="index-table-view">
            <table class="section-table">
                {% for page in subsec.pages %}
                    <tr>
                        <td class="page-title">
                            <a href="{{ page.permalink | safe }}"><strong>{{ page.title }}</strong></a>
                        </td>
                        {% if page.date %}<td class="date">{{ page.date }}</td>{% endif %}
                        <td>{{ page.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="index-heading-view">
            {% for page in subsec.pages %}
                <h3><a href="{{ page.path }}">{{ page.title }}</a></h3>
                {% if page.date %}<p class="date">{{ page.date }}</p>{% endif %}
                <p style="text-align: center;">{{ page.description }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}

{# External Links #}
<h2 style="margin-top: 50px;">Interesting Links</h2>
<p class="date">Some blog posts or videos that I have enjoyed/found useful and think are worth sharing.</p>

<h3>General Programming</h3>
<ul>
    <li><a href="https://llogiq.github.io/2017/01/13/mod.html">All in Moderation (llogiq)</a></li>
    <li><a href="https://vfoley.xyz/reasonable-use/">Making Reasonable Use of Our Computing Resources (Occasionally Sane)</a></li>
    <li><a href="https://steveklabnik.com/writing/80-of-success-is-showing-up">
        80% of Success is Showing Up (Steve Klabnik)
    </a></li>
    <li><a href="http://aosabook.org/en/index.html">Architecture of Open Source Applications</a></li>
    <li><a href="https://killalldefects.com/2020/12/27/how-programming-languages-change-how-you-think/">
        How Programming Languages Change How You Think
    </a></li>
</ul>

<h3>Maintaining Open Source Software</h3>
<ul>
    <li><a href="https://www.freecodecamp.org/news/ultimate-owners-guide-to-open-source/">
        How to be a Good Open Source Project Owner
    </a></li>
    <li><a href="https://matklad.github.io/2021/02/06/ARCHITECTURE.md.html">ARCHITECTURE.md
            (matklad)</a></li>
</ul>

<h3>Programming Languages</h3>
<ul>
    <li><a href="https://towardsdatascience.com/object-oriented-programming-is-dead-wait-really-db1f1f05cc44">Object-oriented programming is dead. Wait, really?</a></li>
</ul>

{% endblock content %}
