{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block name %}Home{% endblock %}

{% block content %}

<h1>Ben White-Horne's Website</h1>

{% if section.extra.links %}
<p class="link-line">
    {% for link in section.extra.links %}
        <span class="link"><a href="{{ link[1] }}">{{ link[0] }}</a></span>
    {% endfor %}
</p>
{% endif %}

{{ section.content | safe }}

{% for subsec_path in section.subsections %}
    {% set subsec = get_section(path=subsec_path) %}

    {% if subsec.pages %}
        <h2 style="margin-top: 50px;"><a href="{{ subsec.path }}">{{ subsec.title }}</a></h2>

        <p class="date">{{ subsec.description }}</p>

        <table class="section-table">
        {% for page in subsec.pages %}
            <tr>
                <td class="page-title">
                    <a href="{{ page.permalink | safe }}"><strong>{{ page.title }}</strong></a>
                </td>
                {% if page.date %}<td class="date">{{ page.date }}</td>{% endif %}
                <td>{{ page.description }}</td>
            </tr>
            {#
            <div class="blog-article-box">
                <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
                {% if page.date %}<p class="date">{{ page.date }}</p>{% endif %}
                {% if page.description %}<p class="date">{{ page.description }}</p>{% endif %}

                {{ page.summary | safe }}
                <a href="{{ page.permalink }}">More...</a>
            </div>

            <h3><a href="{{ page.path }}">{{ page.title }}</a></h3>
            <p>{{ page.date }}</p>
            <p>{{ page.description }}</p>
            {{ page.summary | safe }}
            #}
        {% endfor %}
        </table>
    {% endif %}
{% endfor %}

{% endblock content %}
