<!DOCTYPE html>
<html lang="en">

<head>
  <title>kneasle::Home</title>

  <link rel="stylesheet" href="/site.css"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<script src="js/matrix.js"></script>
	<script src="js/pageHandling.js"></script>
</head>

<body>
  <!-- normal scrolling layer (i.e. not the page overlay) -->
	<div id="scroll-layer">
		<!-- HEADER -->
		<div>
			<div style="width: 100%; height: 80vh; background: black;">
				<div id="matrix-container"></div>
				<div class="matrix-title-overlay">
					<div style="flex-grow: 1;"></div>
					<p class="site-title" style="font-size: 5vw;">Welcome to</p>
					<h1 class="site-title" style="font-size: 7vw;">kneasle.github.io</h1>
					<div style="height: 10vh;"></div>
					<h2 class="site-title" style="font-size: 3vw;">A site by Ben White-Horne</h2>
					<div style="flex-grow: 1;"></div>
					<div style="height: 17vh;"></div>
				</div>
			</div>
			<div style="width: 100%; height: 20vh; background: linear-gradient(#000, #012)"></div>

			<p id="scroll-down" class="site-title scroll-down scroll-down-present">Scroll down ...</p>
		</div>

		<!-- BODY -->
		<div class="site-body">
			<div style="height: 100px;"></div>
			<!-- "About me" -->
			<div class="content about">
				{{{aboutMe}}}
			</div>
			<div style="height: 100px;"></div>

			<div id="subpage-container">
				{{#each subPages}}
				<div id="subpage-item-{{slug}}" class="subpage-entry category-{{category}}" onclick="loadPage('{{slug}}', '{{category}}');">
					<img src="/page-icons/{{imageFileName}}"></img>
					<div id="header" class="subpage-header" style="display: flex; flex-direction: column;">
						<h2>{{title}}</h2>
						<div style="display: flex; justify-content: space-between; margin: 0;">
							<p class="subheading">{{dateString}}</p>
							<p class="subheading">
								<span>#{{category}}</span>
								{{#each topics}}<span>#{{this}}</span> {{/each}}
								{{#each languages}}<span>#{{this}}</span> {{/each}}
							</p>
						</div>
						<div style="flex-grow: 1;"></div>
						<p id="description" style="text-align: center;">{{description}}</p>
					</div>
				</div>
				{{/each}}
			</div>
		</div>

		<p style="text-align: center;">Design and content: © Ben White-Horne 2020-2023</p>
	</div>
	<!-- end of normal scroll layer -->

  <!-- page overlay -->
	<div id="page-overlay-outer">
		<div class="page-overlay-box">
			<!-- overlay header -->
			<div style="display: flex; flex-direction: row;">
				<div id="page-overlay-header" style="flex-grow: 1"></div>
				<svg class="page-overlay-x-button" onclick="closeOverlay()"
					   viewBox="0 0 85 85" xmlns="http://www.w3.org/2000/svg">
			    <path style="stroke-width: 8px; stroke-linecap:round;" d="M 25,25 60,60" />
			    <path style="stroke-width: 8px; stroke-linecap:round;" d="M 25,60 60,25" />
				</svg>
			</div>

			<!-- overlay content -->
			<iframe src="/comp-data"></iframe>
		</div>
	</div>
	<!-- end of page overlay -->
</body>

</html>
