<!DOCTYPE html>
<html lang="en">

<head>
  <title>kneasle::Home</title>

  <link rel="stylesheet" href="/css/site.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<script src="js/codeUrls.js"></script>
	<script src="js/matrix.js"></script>
	<script src="js/pageHandling.js"></script>
</head>

<body>
  <!-- normal scrolling layer (i.e. not the page overlay) -->
	<div id="scroll-layer">
		<!-- HEADER -->
		<div style="background: black;">
			<div style="width: 100%; height: 100vh;">
				<div id="matrix-container"></div>
				<div class="matrix-title-overlay">
					<div style="flex-grow: 1;"></div>
					<p class="site-title" style="font-size: 5vw;">Welcome to</p>
					<h1 class="site-title" style="font-size: 7vw;">kneasle.github.io</h1>
					<div style="height: 10vh;"></div>
					<h2 class="site-title" style="font-size: 3vw;">A site by Ben White-Horne</h2>
					<div style="flex-grow: 1;"></div>
					<div style="height: 17vh;"></div>
				</div>
			</div>
			<div style="position: absolute; left: 0; right: 0; bottom: 0; height: 40vh; background: linear-gradient(rgba(0, 17, 34, 0), rgba(0, 17, 34, 1));"></div>

			<p id="scroll-down" class="site-title scroll-down scroll-down-present">Scroll down ...</p>
		</div>

		<!-- BODY -->
		<div class="site-body">
			<div style="height: 200px;"></div>

			<!-- "About me" -->
			<div class="content about">
				<div class="about-section">
					<img src="me.jpg" class="me" />
					<div>{{{aboutMe}}}</div>
				</div>

				<div style="height: 100px;"></div>

				<div class="about-section">
					<img src="site.png" class="site" style="background: none;" />
					<div>{{{aboutSite}}}</div>
				</div>
			</div>
			<!-- End "About me" -->

			<div style="height: 100px;"></div>

			<!-- Subpages -->
			<div id="subpage-container">
				{{#each subPages}}
				<div id="subpage-item-{{slug}}" class="flex-row subpage-entry category-{{category}} hoverable" onclick="loadPage('{{slug}}', '{{category}}');">
					<img id="icon" src="/page-icons/{{imageFileName}}"></img>

					<div class="text-container flex-col flex-fill">
						<div class="flex-row">
							<!-- start name and date/tags -->
							<div class="header flex-fill">
								<h2>{{title}}</h2>
								<div class="subheading flex-row">
									<p>{{dateString}}</p>
									<p style="text-align: right; margin-left: 10px;">
										<span>#{{category}}</span>
										{{#each topics}}<span>#{{this}}</span> {{/each}}
										{{#each languages}}<span>#{{this}}</span> {{/each}}
									</p>
								</div>
							</div>
							<!-- end name and date/tags -->

							<svg class="x-button" onclick="closeOverlay()"
								   viewBox="0 0 85 85" xmlns="http://www.w3.org/2000/svg">
						    <path style="stroke-width: 8px; stroke-linecap:round;" d="M 25,25 60,60" />
						    <path style="stroke-width: 8px; stroke-linecap:round;" d="M 25,60 60,25" />
							</svg>
						</div>

						<div class="padding"></div>
						<p class="description">{{description}}</p>
						<div id="page-content" class="content-container">
							<!-- page content goes here when loaded in the overlay -->
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			<!-- End subpages -->
		</div>

		<p style="text-align: center;">Design and content: © Ben White-Horne 2020-2024</p>
	</div>
	<!-- end of normal scroll layer -->

	<div id="page-overlay"></div>
</body>

</html>
