{% extends "page.html" %}

{% block content %}
<p class="date">{{ page.description }}</p>
<hr>

{% if page.extra.links %}
<table style="width: 100%">
    <tr>
        <td>
            <p class="link-line">
                <b>Links:</b>
                {% for link in page.extra.links %}
                    <span class="link"><a href="{{ link[1] }}">{{ link[0] }}</a></span>
                {% endfor %}
            </p>
        </td>
        <td>
            <p class="link-line">
                <b>Tags:</b>
                {% for tax_name, terms in page.taxonomies %}
                    {% for term in terms %}
                        <span class="link">
                            <a href="{{ get_taxonomy_url(kind = tax_name, name = term) }}">#{{ term }}</a>
                        </span>
                    {% endfor %}
                {% endfor %}
            </p>
        </td>
    </tr>
</table>
{% endif %}

<div class="article">
    {{ page.content | safe }}
</div>
{% endblock content %}

