{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block title %} {{ section.title }} {% endblock %}
{% block name %} {{ section.title }} {% endblock %}

{# By default, make a nice rounded box for every page #}

{% block content %}

{% if section.description %}
<p class="date">{{ section.description }}</p>
<hr/>
{% endif %}

{{ section.content | safe }}

{% for page in section.pages %}
<div class="blog-article-box">
    {{ macros::icon_and_title(page=page) }}

    {{ page.summary | safe }}

    <p style="text-align: center;"><a href="{{ page.permalink }}">read more...</a></p>
</div>
{% endfor %}

{% endblock content %}
